#include "resource.h"
#include <winver.h>

#define IDI_APP_ICON 101

IDI_APP_ICON    ICON    "resources\\app_icon.ico"

VS_VERSION_INFO VERSIONINFO
  FILEVERSION 1,0,0,0
  PRODUCTVERSION 1,0,0,0
  FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
  FILEFLAGS VS_FF_DEBUG
#else
  FILEFLAGS 0x0L
#endif
  FILEOS VOS__WINDOWS32
  FILETYPE VFT_APP
  FILESUBTYPE 0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904e4"
    BEGIN
      VALUE "CompanyName", "Sphere Player" "\0"
      VALUE "FileDescription", "Sphere Player" "\0"
      VALUE "FileVersion", "1.0.0" "\0"
      VALUE "InternalName", "sphere_player" "\0"
      VALUE "LegalCopyright", "Copyright (C) 2024" "\0"
      VALUE "OriginalFilename", "sphere_player.exe" "\0"
      VALUE "ProductName", "Sphere Player" "\0"
      VALUE "ProductVersion", "1.0.0" "\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
